*.class
*.project
*.classpath
*.iml
/hybris/bin/ext-commerce/*
/hybris/bin/ext-content/*
/hybris/bin/ext-addon/*
/hybris/bin/ext-backoffice/*
/hybris/bin/platform/*
/hybris/bin/ext-accelerator/*
/hybris/bin/ext-customer-experience/*
/hybris/bin/ext-template/*
/hybris/bin/ext-cockpit/*
/hybris/bin/ext-atddtests/*
/hybris/bin/ext-webservices/*
/hybris/bin/ext-channel/*
/hybris/bin/ext-platform-optional/*
/hybris/bin/ext-data/*
/hybris/bin/ext-platform-backoffice/*
/hybris/bin/ext-atdd/*
/hybris/bin/ext-integration/*
/hybris/bin/ext-supportability/*
/hybris/bin/ext-smartedit/*
/hybris/bin/ext-print/*
/hybris/bin/ext-eventtracking/*
/**/jalo/*
/**/gensrc/*
/**/lib/*
/**/classes/*
/**/testclasses/*
.idea
/build-tools/*
/c4c-integration/*
/hybris-Mobile-Apps-SDK/*
/hybris-ems/*
/hybris-sbg/*
/idea-module-files/*
/installer/*
/licenses/*
README
/hybris/data/*
/hybris/log/*
/hybris/roles/*
/hybris/temp/*
platformhome.properties